<%- include("../includes/header") %>

<body>
    <!-- preloader  -->

    <!-- Start header -->
   <%- include("../includes/navbar") %>
    <!-- End header area -->
    <main>
        <!-- Start intro area -->
        <div class="intro-area intro-home">
            <div class="bg-wrapper">
                <img src="/images/bg4.jpg" alt="" />
            </div>
            <div class="intro-content">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="slide-all-text">
                                    <!-- layer 1 -->
                                    <div class="layer-1 wow fadeInUp" data-wow-delay="0.3s" style="
                        visibility: visible;
                        animation-delay: 0.3s;
                        animation-name: fadeInUp;
                      ">
                                        <h4 class="title-1">
                                            Investment/Mining  You Can Trust
                                        </h4>
                                    </div>
                                    <!-- layer 2 -->
                                    <div class="layer-2 wow fadeInUp" data-wow-delay="0.3s" style="
                        visibility: visible;
                        animation-delay: 0.3s;
                        animation-name: fadeInUp;
                      ">
                                        <h1 class="title-2">
                                            Unleashing the Power of Cryptocurrencies
                                        </h1>
                                    </div>
                                    <!-- layer 3 -->
                                    <div class="layer-3 wow fadeInUp" data-wow-delay="0.7s" style="
                        visibility: visible;
                        animation-delay: 0.7s;
                        animation-name: fadeInUp;
                      ">
                                        <a href="/register" class="ready-btn">Get Started</a>


                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="slide-images-inner wow fadeInUp" data-wow-delay="0.5s" style="
                      visibility: visible;
                      animation-delay: 0.5s;
                      animation-name: fadeInUp;
                    ">
                                    <div class="slide-images">
                                        <img src="/images/s1.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End intro Area -->
        <marquee style="  margin-bottom: 0%; " behavior="" direction="">
            <div style="display: flex; justify-content: space-around;  width: 100%;">
                <div class="bitcion">
                    <div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                        <iframe scrolling="no" allowtransparency="true" frameborder="0"
                            src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D"
                            title="single quote TradingView widget" lang="en"
                            style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                        <div class="tradingview-widget-copyright"><a
                                href="https://in.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote"
                                rel="noopener" target="_blank"><span style="color:#EC3F77 ;">BTCUSD Rates</span></a> by
                            TradingView</div>

                        <style>
                            .tradingview-widget-copyright {
                                font-size: 13px !important;
                                line-height: 32px !important;
                                text-align: center !important;
                                vertical-align: middle !important;
                                /* @mixin sf-pro-display-font; */
                                font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright .blue-text {
                                color: #2962FF !important;
                            }

                            .tradingview-widget-copyright a {
                                text-decoration: none !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:visited {
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:hover .blue-text {
                                color: #1E53E5 !important;
                            }

                            .tradingview-widget-copyright a:active .blue-text {
                                color: #1848CC !important;
                            }

                            .tradingview-widget-copyright a:visited .blue-text {
                                color: #2962FF !important;
                            }
                        </style>
                    </div>
                </div>
                <div class="Ethereum">
                    <div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                        <iframe scrolling="no" allowtransparency="true" frameborder="0"
                            src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3AETHUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D"
                            title="single quote TradingView widget" lang="en"
                            style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                        <div class="tradingview-widget-copyright"><a
                                href="https://in.tradingview.com/symbols/ETHUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote"
                                rel="noopener" target="_blank"><span style="color:#EC3F77 ;" class="">ETHUSD
                                    Rates</span></a> by TradingView</div>

                        <style>
                            .tradingview-widget-copyright {
                                font-size: 13px !important;
                                line-height: 32px !important;
                                text-align: center !important;
                                vertical-align: middle !important;
                                /* @mixin sf-pro-display-font; */
                                font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright .blue-text {
                                color: #2962FF !important;
                            }

                            .tradingview-widget-copyright a {
                                text-decoration: none !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:visited {
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:hover .blue-text {
                                color: #1E53E5 !important;
                            }

                            .tradingview-widget-copyright a:active .blue-text {
                                color: #1848CC !important;
                            }

                            .tradingview-widget-copyright a:visited .blue-text {
                                color: #2962FF !important;
                            }
                        </style>
                    </div>
                </div>
                <div class="litecion">
                    <div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                        <iframe scrolling="no" allowtransparency="true" frameborder="0"
                            src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3ALTCUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D"
                            title="single quote TradingView widget" lang="en"
                            style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                        <div class="tradingview-widget-copyright"><a
                                href="https://in.tradingview.com/symbols/LTCUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote"
                                rel="noopener" target="_blank"><span style="color:#EC3F77 ;">LTCUSDT Rates</span></a> by
                            TradingView</div>

                        <style>
                            .tradingview-widget-copyright {
                                font-size: 13px !important;
                                line-height: 32px !important;
                                text-align: center !important;
                                vertical-align: middle !important;
                                /* @mixin sf-pro-display-font; */
                                font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright .blue-text {
                                color: #2962FF !important;
                            }

                            .tradingview-widget-copyright a {
                                text-decoration: none !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:visited {
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:hover .blue-text {
                                color: #1E53E5 !important;
                            }

                            .tradingview-widget-copyright a:active .blue-text {
                                color: #1848CC !important;
                            }

                            .tradingview-widget-copyright a:visited .blue-text {
                                color: #2962FF !important;
                            }
                        </style>
                    </div>
                </div>
                <div class="xrp">
                    <div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                        <iframe scrolling="no" allowtransparency="true" frameborder="0"
                            src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3AXRPUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D"
                            title="single quote TradingView widget" lang="en"
                            style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                        <div class="tradingview-widget-copyright"><a
                                href="https://in.tradingview.com/symbols/XRPUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote"
                                rel="noopener" target="_blank"><span style="color:#EC3F77 ;">XRPUSDT Rates</span></a> by
                            TradingView</div>

                        <style>
                            .tradingview-widget-copyright {
                                font-size: 13px !important;
                                line-height: 32px !important;
                                text-align: center !important;
                                vertical-align: middle !important;
                                /* @mixin sf-pro-display-font; */
                                font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright .blue-text {
                                color: #2962FF !important;
                            }

                            .tradingview-widget-copyright a {
                                text-decoration: none !important;
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:visited {
                                color: #B2B5BE !important;
                            }

                            .tradingview-widget-copyright a:hover .blue-text {
                                color: #1E53E5 !important;
                            }

                            .tradingview-widget-copyright a:active .blue-text {
                                color: #1848CC !important;
                            }

                            .tradingview-widget-copyright a:visited .blue-text {
                                color: #2962FF !important;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </marquee>
        <!-- Start Counter area -->
        <div class="counter-area fix bg-color area-padding-3">
            <div class="container">
                <!-- Start counter Area -->

                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-fun">
                            <span class="counter-icon"><img src="/images/membership.png" alt=""></span>
                            <div class="counter-text">
                                <h2><span class="count">3617</span>+</h2>
                                <h4>All Members</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-fun">
                            <span class="counter-icon"><img src="/images/wallet 2.png" alt=""></span>
                            <div class="counter-text">
                                <h2>$<span class="count">80</span>k</h2>
                                <h4>Total Deposit</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-fun">
                            <span class="counter-icon"><img src="/images/pin.png" alt=""></i></span>
                            <div class="counter-text">
                                <h2><span class="count">12</span>+</h2>
                                <h4>World Country</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Counter area -->
        <!-- Start About Area -->
        <div class="about-area bg-color fix area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>About Custom</h2>
                            <p>Upgrading the world to a better financial system.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-video">
                            <img src="/images/ab.jpg" alt="">
                            <div class="video-content">
                                <a href="https://www.youtube.com/watch?v=Ou_ERJ41IHo" class="video-play video-zone">
                                    <img style="width: 5rem;" src="/images/play-button (2).png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-5 col-lg-5 col-md-12">
                        <div class="support-wraper">
                            <div class="support-carousel owl-carousel item-indicator">
                                <div class="single-support">
                                    <div class="support-services">
                                        <img class="support-images" src="/images/ab-icon1.png" alt="">
                                        <div class="support-content">
                                            <h4>Transparency</h4>
                                            <p>All the crypto we store is regularly verified by independent auditors.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="support-services">
                                        <img class="support-images" src="/images/ab-icon2.png" alt="">
                                        <div class="support-content">
                                            <h4>High Returns</h4>
                                            <p>Cryptocurrencies have the potential for high returns, with coins
                                                experiencing rapid price increases in short periods.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-support">
                                    <div class="support-services">
                                        <img class="support-images" src="/images/ab-icon3.png" alt="">
                                        <div class="support-content">
                                            <h4>Live Support</h4>
                                            <p>We have the best technical support available to help you with all your
                                                technology needs.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="support-services">
                                        <img class="support-images" src="/images/ab-icon4.png" alt="">
                                        <div class="support-content">
                                            <h4>Decentralization</h4>
                                            <p>Cryptocurrencies are decentralized, meaning they are not subject to the
                                                control of any central authority, like a government or central bank.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                </div>
            </div>
        </div>
        <!-- End About Area -->
        <!-- Start Investment area -->
        <div id="invest-area" class="invest-area bg-color-2 area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Investment/Mining plans</h2>
                            <p>
                                At Cryptovip you will receive profit every day, including none official days. You will
                                enjoy perpetual returns each day of the week as you deposit and invest.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% plans.forEach(plan => { %>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="pri_table_list text-center">
                                <span class="base">Best sale</span>
                                <div class="top-price-inner">
                                    <h3><%= plan.name %></h3>
                                    <div class="rates">
                                        <span class="prices"><%= plan.interestRate %>%</span><span class="users">Daily</span>
                                    </div>
                                </div>
                                <ol class="pricing-text">
                                    <li class="check">Minimum Invest :$<%= plan.minimumAmount %></li>
                                    <li class="check">Maximum Invest : $<%= plan.maximumAmount %></li>
                                    <li class="check">Maturation: <%= plan.duration %><%= plan.payoutFrequency %></li>
                                </ol>
                                <div class="price-btn">
                                    <a class="blue" href="/login">Invest
                                        Now</a>
                                </div>
                            </div>
                        </div>   
                    <% }) %>
                </div>
            </div>
        </div>
        <!-- End Investment area -->
        <!-- Start Choose Area -->
        <div class="choose-service-area bg-color area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Why choose us</h2>
                            <p>
                                Cryptovip is a financial investment company that offers great investment opportunities
                                to it's global clients.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start About -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href="#"><img style="width: 3rem;" src="/images/refer.png"
                                        alt=""></a>
                                <h4>Detailed Statistics</h4>
                            </div>
                            <div class="choose-content">
                                <p>
                                    We have a detailed transaction history and reports made available for you on your
                                    dashboard. If you notice any changes, our support is available.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start About -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href="#"><img style="width: 3rem;" src="/images/shield.png"
                                        alt=""></a>
                                <h4>Secure investment</h4>
                            </div>
                            <div class="choose-content">
                                <p>
                                    Clients' personal/investment data is stored in logical pools over physical storage
                                    that spans multiple servers and this guarantees safety of funds and 100% uptime.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href="#"><img style="width: 3rem;"
                                        src="/images/registration.png" alt=""></a>
                                <h4>Registered company</h4>
                            </div>
                            <div class="choose-content">
                                <p>
                                    We are a fully registered company with the appropriate regulatory agency for crypto investment services, This extends to safeguarding your investments.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href="#"><img style="width: 4rem;"
                                        src="/images/cash-withdrawal.png" alt=""></a>
                                <h4>Instant withdrawal</h4>
                            </div>
                            <div class="choose-content">
                                <p>
                                    Our global clients believe in us beacuse of our automate and transparent transaction
                                    process. Our system makes it eaisier for you always.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href="#"><img style="width: 4rem;" src="/images/encrypted.png"
                                        alt=""></a>
                                <h4>Profitable plans</h4>
                            </div>
                            <div class="choose-content">
                                <p>
                                    Our Profitable investment plans were designed to give maximum profits to our clients,
                                    with minimum investment risk.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href="#"><img style="width: 3rem;"
                                        src="/images/24-hours-support.png" alt=""></a>
                                <h4>24/7 support</h4>
                            </div>
                            <div class="choose-content">
                                <p>Our services are available 24 hours of the day and all the days of the week. You have
                                    access to your investment dashboard, anytime, anyday.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Choose area -->
        <!-- Start How to area -->
        <div class="how-to-area bg-color-2 area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>How to start</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how first-item">
                            <div class="how-img">
                                <span class="h-number">01</span>
                                <a class="big-icon" href="#"><img src="/images/h1.png" alt="" /></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h4>Sign up With Cryptovip</h4>
                                    <p>
                                        Create an account by using the Registeration form. Your account is automatically
                                        approved if your details are correct.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how">
                            <div class="how-img">
                                <span class="h-number">02</span>
                                <a class="big-icon" href="#"><img src="/images/h2.png" alt="" /></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h4>Fund Your Account</h4>
                                    <p>
                                        Upon accessing your account dashboard, kindly locate and select your preferred funding method from the available options. Subsequently, carefully follow the guided prompts and instructions provided to facilitate the deposit process seamlessly.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how thired-item">
                            <div class="how-img">
                                <span class="h-number">03</span>
                                <a class="big-icon" href="#"><img src="/images/h3.png" alt="" /></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h4>Get Profit</h4>
                                    <p>
                                        You can start earning on the Prime platform as in the shortest possible time as
                                        6days Invest and get your payout automatically.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End How to area -->
        <!--Start payment-history area -->
        <div class="payment-history-area fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline left-headline">
                            <h2>Payments update</h2>
                            <p>
                                Presented herewith is a real-time payment update pertaining to our esteemed clients.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <!-- Start Nav tabs -->
                        <ul class="nav payment-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#tab-2" role="tab" data-toggle="tab">
                                    <span class="cha-title">Last Deposite</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-1" role="tab" data-toggle="tab">
                                    <span class="cha-title">Last Withdraw</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Nav tabs -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <div class="tab-content">
                            <!--Start Tab Content -->
                            <div role="tabpanel" class="tab-pane fade in active show" id="tab-1">
                                <div class="deposite-content">
                                    <div class="diposite-box">
                                        <div class="deposite-table">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                        <th>Currency</th>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m.png" alt="" />Admond sayhel</td>
                                                        <td>Jan 02, 2024</td>
                                                        <td>$10,000</td>
                                                        <td>Bitcoin</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m1.png" alt="" />Jonshon</td>
                                                        <td>Dec 12, 2023</td>
                                                        <td>$5000</td>
                                                        <td>USDT</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m2.png" alt="" />Hopper</td>
                                                        <td>Dec 22, 2023</td>
                                                        <td>$4000</td>
                                                        <td>Ripple</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="/images/m3.png" alt="" />Admond sayhel
                                                        </td>
                                                        <td>Jan 02, 2024</td>
                                                        <td>$3000</td>
                                                        <td>Bitcoin</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m4.png" alt="" />Anjel july</td>
                                                        <td>Jan 05, 2024</td>
                                                        <td>$500</td>
                                                        <td>USDT</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m5.png" alt="" />Lagisha</td>
                                                        <td>Jan 12, 2024</td>
                                                        <td>$5000</td>
                                                        <td>Bitcoin</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-2">
                                <div class="deposite-content">
                                    <div class="diposite-box">
                                        <div class="deposite-table">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                        <th>Currency</th>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m.png" alt="" />Sophia </td>
                                                        <td>Jan 02, 2024</td>
                                                        <td>$12,000</td>
                                                        <td>USDT</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m1.png" alt="" />Alex</td>
                                                        <td>Dec 12, 2023</td>
                                                        <td>$50,000</td>
                                                        <td>Bitcion</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m2.png" alt="" />Erling Gamegee</td>
                                                        <td>Dec 22, 2023</td>
                                                        <td>$7000</td>
                                                        <td>Ripple</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img src="/images/m3.png" alt="" />Morgan Richardson
                                                        </td>
                                                        <td>Jan 01, 2024</td>
                                                        <td>$3000</td>
                                                        <td>Ethereum</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m4.png" alt="" />David Moi</td>
                                                        <td>Jan 05, 2024</td>
                                                        <td>$1000</td>
                                                        <td>USDT</td>
                                                    </tr>
                                                    <tr>
                                                        <td><img src="/images/m5.png" alt="" />Rocco Barkley</td>
                                                        <td>Jan 12, 2024</td>
                                                        <td>$22,000</td>
                                                        <td>Ethereum</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End payment-history area -->
        <!-- Start payment-history area -->
        <div class="profit-calculater-area bg-color-2 fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Profit Calculator</h2>
                            <p>
                                Accurately calculate your earnings by factoring in the percentage returns offered by the chosen investment plan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-profit-inner">
                            <div class="about-calculater">
                                <h3>About profit calculator</h3>
                                <p>
                                    Our 'Profit Calculator' is a sophisticated tool meticulously designed to provide you with precise insights into your potential profits. By utilizing this feature, you can accurately calculate your earnings by factoring in the percentage returns offered by the chosen investment plan, coupled with the initial amount invested.The process is straightforward: simply input the initial investment amount and select the desired investment plan from the available options. Upon submission, the calculator dynamically computes your projected profits based on the compounded interest rates associated with the chosen plan.
                                </p>
                                <p>
                                    This tool empowers you to make informed decisions by offering a transparent view of your potential returns, aiding in strategic planning and goal setting. Whether you're a seasoned investor or new to the realm of financial management, our Profit Calculator serves as an invaluable resource in optimizing your investment strategy.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="profit-calculater-inner">
                            <form class="profit-calculator">
                                <div class="row">
                                    <div class="col-lg-6 mb-30">
                                        <label>Choose Plan</label>
                                        <select class="calculater-select-bg">
                                            <option>Silver Plan</option>
                                            <option>Diamond Plan</option>
                                            <option>Platinum Plan</option>
                                            <option>Gold Plan</option>
                                            <option>Premium Plan</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 mb-30">
                                        <label>Invest Amount</label>
                                        <input type="text" name="invest_amount" id="invest_amount" placeholder="0.00"
                                            class="form-control base--bg" />
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Profit Amount</label>
                                        <input type="text" name="profit_amount" id="profit_amount" placeholder="0.00"
                                            class="form-control base--bg" disabled="" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End payment-history area -->
        <!-- Start Reviews Area -->
        <div class="reviews-area bg-color area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="testimonial-inner">
                            <div class="review-head">
                                <h2>Charles Veer</h2>
                                <p>“There is a spirituality to money & we understand that at cryptovip. And that’s why
                                    conscious people like to invest with us. That’s why vegans and vegetarians like to
                                    invest with us. That’s why people who understand the laws of attraction and karma
                                    and resonance and noetics like to invest with cryptovip.”
                                </p>
                                <a class="reviews-btn anti-btn" href="reviews.html">More reviews</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="Reviews-content">
                            <!-- start testimonial carousel -->
                            <div class="testimonial-carousel owl-carousel">
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="/images/c-5.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Brian Cranston</h4>
                                                    <span class="guest-rev">Washington, USA</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                            </div>
                                            <p>It feels great being on Cryptovip's crypto and forex investments program. The
                                                professionalism of Cryptovip's financial analysts made it easy for me to
                                                earn.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="/images/c-1.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Rosa Lee</h4>
                                                    <span class="guest-rev">Italy</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                            </div>
                                            <p>Me encanta la plataforma cryptovip! Aquí, no sabía nada sobre el comercio
                                                hasta que me uní a cryptovip, en este momento soy un inversionista
                                                seguro.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="/images/c-6.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Mark Richard</h4>
                                                    <span class="guest-rev">England</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                            </div>
                                            <p>The customer support here is top notch and this platform has really
                                                helped me a lot. and its a nice and superb platform am so happy i heard
                                                about this from a friend. </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="/images/c-4.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Tess Harper</h4>
                                                    <span class="guest-rev">Hungary</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                                <a href="#"><img src="/images/full-rating.png" alt=""></a>
                                            </div>
                                            <p>Fokozatosan növeltem a tőkémet, amely 500 USD volt, több mint 10 000
                                                USD-re ezen a platformon. 2 hónap alatt nem könnyű találni egy olyan
                                                hiteles befektetési céget, mint a stake-swifts.com.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reviews area -->
        <!-- Start Feature Area -->
        <div class="feature-area bg-color-2 fix area-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="feature-inner">
                            <div class="left-headline">
                                <h2>Our apps for your mobile  update</h2>
                                <p>
                                    Unlock the full potential of your investment journey with our mobile apps. Download now and experience the convenience, security, and empowerment that our platform has to offer.
                                </p>
                            </div>
                            <div class="down-btn">
                                <a href="#" class="app-btn left-b"><img style="width: 1rem; margin-right: 10px;"
                                        src="/images/game.png" alt="">Play store</a>
                                <a href="#" class="app-btn right-bt"><img style="width: 1.2rem; margin-right: 10px;"
                                        src="/images/app-store.png" alt="">App store</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="feature-content">
                            <div class="feature-images">
                                <img src="/images/s1.png" alt="" class="first-img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Feature Area -->
        <div><div class="row"></div>
            <div class="col-lg-12" >
                <div class="currency_live">
                    <iframe  style="width: 100%; height: 26rem; border: #030834; " src="https://widget.coinlib.io/widget?type=full_v2&amp;theme=&amp;cnt=6&amp;pref_coin_id=1505&amp;graph=yes"></iframe>
                </div>
            </div>
        </div></div>
        <!-- Start Blog area -->
        <div class="blog-area bg-color area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Latest Blog</h2>
                            <p>
                                Ready to explore our latest news and insights? Head over to our blog now and start exploring!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="/images/b1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Investor</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <img style="width: 2rem;" src="/images/social.png" alt="">
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <img style="width: 1rem;" src="/images/schedule.png" alt="">
                                        28 mar, 2024
                                    </span>
                                    <span class="comments-type">
                                        <img style="width: 1.1rem;" src="/images/chat-box.png" alt="">
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>Unlocking the Power of Crypto Investment.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="/images/b2.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Community</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <img style="width: 2rem;" src="/images/social.png" alt="">
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <img style="width: 1rem;" src="/images/schedule.png" alt="">
                                        21 mar, 2024
                                    </span>
                                    <span class="comments-type">
                                        <img style="width: 1.1rem;" src="/images/chat-box.png" alt="">
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>Navigating the Cryptocurrency Landscape.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="/images/b3.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Media</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <img style="width: 2rem;" src="/images/social.png" alt="">
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <img style="width: 1rem;" src="/images/schedule.png" alt="">
                                        14 Mar, 2024
                                    </span>
                                    <span class="comments-type">
                                        <img style="width: 1.1rem;" src="/images/chat-box.png" alt="">
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>Revolutionize Your Portfolio With Opportunities in Crypto.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="d-lg-none d-xl-none col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="/images/b4.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Profit</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        28 Feb, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>Designer have to make sure the prototype looks.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Blog area -->
        <!-- Start Subscribe area -->
        <div class="subscribe-area bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="subscribe-inner">
                            <div class="subdcribe-content">
                                <div class="section-headline text-center">
                                    <h2>Supported currencies</h2>
                                    <!-- <p>Help agencies to define their new business objectives and then create professional software.</p> -->
                                </div>
                                <div class="subs-form">
                                    <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                        <input type="email" class="email form-control" id="email" placeholder="Email"
                                            required data-error="Please enter your email">
                                        <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                    </form>
                                </div>
                                <div class="brand-content">
                                    <div class="brand-carousel owl-carousel">
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/1.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img style="width: 6rem;" src="/images/usdt.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/solana.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/4.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/7.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/8.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/5.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/6.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe area -->
    </main>

    <!-- Start Footer Area -->
   <%- include("../includes/footer") %>
    <!-- End Footer Area -->
    
    <!-- All JS here -->
    <%- include("../includes/script") %>

</body>

</html>