<%- include("../includes/header") %>


<body  style="background-color:#04062E ;">
    <!-- preloader  -->
    <!-- <div id="preloader"></div> -->
    <!-- Start header -->
    <%- include("../includes/navbar") %>
    <!-- End header area -->
   
    <main>
    <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title text-center">
                            <h2>Investment plan</h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4 justify-content-center">
                                        <li class="breadcrumb-items"><a class="black-text" href="/pages/index.html">Home</a><img style="width: 0.8rem; margin: 5px;" src="/images/arrow.png" alt=""></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="#">Investment plan</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <marquee style="  margin-bottom: 0%; " behavior="" direction="">
            <div style="display: flex; justify-content: space-around;  width: 100%;">
                <div  class="bitcion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">BTCUSD Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>			
                <div class="Ethereum"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3AETHUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/ETHUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;" class="">ETHUSD Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
                <div class="litecion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3ALTCUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/LTCUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">LTCUSDT Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
                <div class="xrp"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3AXRPUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/XRPUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">XRPUSDT Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
             </div>  
        </marquee>
        <!-- Start Investment area -->
        <div  id="invest-area" class="invest-area bg-color-2 area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Investment plan</h2>
                             <p>
                                 At Cryptovip you will receive profit every day, including none official days. You will enjoy perpetual returns each day of the as you deposit and invest.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% plans.forEach(plan => { %>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="pri_table_list text-center">
                            <span class="base">Best sale</span>
                            <div class="top-price-inner">
                                <h3><%= plan.name %></h3>
                                <div class="rates">
                                    <span class="prices"><%= plan.interestRate %>%</span><span class="users">Daily</span>
                                </div>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimum Invest :$<%= plan.minimumAmount %></li>
                                <li class="check">Maximum Invest : $<%= plan.maximumAmount %></li>
                                <li class="check">Maturation: <%= plan.duration %><%= plan.payoutFrequency %></li>
                            </ol>
                            <div class="price-btn">
                                <a class="blue" href="/pages/login.html">Invest
                                    Now</a>
                            </div>
                        </div>
                    </div>   
                <% }) %>

                </div>
            </div>
        </div>
        <!-- End Investment area -->
       <!-- Start Subscribe area -->
       <div class="subscribe-area bg-color">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="subscribe-inner">
                        <div class="subdcribe-content">
                            <div class="section-headline text-center">
                                <h2>Supported currencies</h2>
                                <!-- <p>Help agencies to define their new business objectives and then create professional software.</p> -->
                            </div>
                            <div class="subs-form">
                                <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                    <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                    <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                </form>  
                            </div>
                            <div class="brand-content">
                                <div class="brand-carousel owl-carousel">
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/1.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img style="width: 6rem;" src="/images/usdt.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/solana.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/4.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/7.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/8.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/5.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/6.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe area -->   
    </main>
     <!-- Start Footer Area -->
     <%- include("../includes/footer") %>
    <!-- End Footer Area -->

    <!-- All JS here -->
    <%- include("../includes/script") %>
</body>

</html>