<%- include("../includes/header") %>


<body>
    <!-- preloader  -->
    <div id="preloader"></div>
    <!-- Start header -->
    <div class="overlay"></div>
    <%- include("../includes/navbar") %>
    <!-- End header area -->
    <main>
    <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title">
                            <h2>Transaction</h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4">
                                        <li class="breadcrumb-items"><a class="black-text" href="/">Home</a><img style="width: 0.8rem; margin: 5px;" src="/images/arrow.png" alt=""></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="#">Transaction</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
         <div class="notify-overlay"></div>
         <div class="dsahboard-area bg-color area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <aside class="sidebar">
                            <div class="dashboard-side">
                                <div class="dashboard-head">
                                    <div class="dashboard-profile">
                                        <img src="/images/profile.png" alt="">
                                        <div class="profile-content">
                                            <span class="pro-name"><%= userInfo.username %></span>
                                            <span class="pro-number"><%= userInfo.email %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-menu">
                                    <ul>
                                        <li><a href="/<%=userInfo.id%>/dashboard" ><img src="/images/dashboard2.png" alt="">dashboard</a></li>
                                        <li><a href="/<%=userInfo.id%>/deposit"><img src="/images/savings.png" alt="">Deposit Money</a></li>
                                        <li><a href="/<%=userInfo.id%>/withdrawal"><img src="/images/withdraw.png" alt="">Withdraw Money</a></li>
                                        <li><a href="/<%=userInfo.id%>/investment"><img src="/images/earning.png" alt=""></i>Total Investment</a></li>
                                        <li class="active"><a href="/<%=userInfo.id%>/transaction"><img src="/images/money-exchange.png" alt=""></i>Transactions</a></li>
                                        <!-- <li><a href="/<%=userInfo.id%>/notification"><img src="/images/notification.png" alt="">Notifications</a></li> -->
                                        <li><a href="/<%=userInfo.id%>/info"><img src="/images/setting.png" alt="">Settings</a></li>
                                        <li><a href="/logout"><img src="/images/logout.png" alt="">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8">

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="send-money-form transection-log">
                                    <div class="send-money-form transection-log">
                                        <div class="form-text">
                                            <h4 class="form-top">Latest Transactions</h4>
                                            <div class="form-inner table-inner text-white">
                                                <table>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Amount</th>
                                                        <th>status</th>
                                                        <th>Date</th>
                                                        <th>eCurrency</th>
                                                    </tr>

                                                    <% transactions.forEach(transaction => { %>                    
                                                        <tr>                   
                                                            <td><%= transaction.type %></td>
                                                            <td><%= transaction.amount %></td>
                                                            <td><%= transaction.status %></td>
                                                            <td><%= transaction.createdAt %></td>
                                                            <td><%= transaction.ecurrency %></td>
                                                        </tr>
                                                     <% }) %> 
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Start Footer Area -->
    <%- include("../includes/footer2") %>
    <!-- End Footer Area -->

    <!-- All JS here -->

    <!-- modernizr JS -->
    <%- include("../includes/script") %>
</body>

</html>